@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .2px;
}

body{
    --color-gris-fondo:#ececec;
    --color-verde-navbar:#78A200;
    --color-gris-fuente:#101010;
    --color-terracota:#E25238; 
}


.navbar_oveja{
    background-color: var(--color-terracota);
    box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.63);
}

.card_servicios{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 16px;

}


.servicios{
    background-color: wheat;
    height: 400px;
    margin: 50px 0;

}

.img-clientes{
    display: flex;
    align-items: center;
}



.brands-list{
    overflow: hidden;
    background-color: #FCC503;
}

.brands-list img{
    height: 40px;
    margin: 0px 16px;
}

.wrapper{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-items: stretch;
}

@keyframes scroll {
    to{
        translate: calc(-4 * 150px);
    }
}

.wrapper{
    animation: scroll 10s linear infinite;
}







/* ------------ Card calificación del cliente */

.card_testimonios{
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.encabezado_testimonios{
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}

.perfil_testimonios{
    height: 67px;
    border-radius: 100px;
}

.info_testimonios{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.nombre_testimonios{
    font-size: 16px;
    font-weight: 500;
    display: inline;
}

.labor_testimonios{
    font-size: 12px;
    font-weight: 500;
    display: inline;
}
.calificacion_testimonios{
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.comentarios_testimonios{
    font-size: 12px;
    color: var(--color-gris-fuente);
    margin: 5px 0;
    text-align: left;
    margin: 0px;
}

/* ------------ FIN Card calificación del cliente */







.card_hover:hover{
    transform: scale(1.05);
    transition: 0.1s;
    transition-timing-function: ease-in;
}



.testimonios{
    background-color: white;
    padding: 20px 20px !important;
}

.row_testimonios, .row_servicios{
    gap: 16px;
    margin-bottom: 16px;
}


.carousel{
    margin-top: 0px;
}




.calificacion{
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.estrellas{
    color: gold;
    font-size: 30px;
}


.nav-bar{
    text-align: center;
}

.nav-item a{
    color: white;
    font-size: 18px;
    font-weight: 500;
}


.a-btn-verde{
    background-color: var(--color-verde-navbar);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;    
    color: white;
    font-size: 16px;
    font-weight: 500;
}


.img-redondeadas{
    border-radius: 10px;

}




.titulo_secundario{
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 3px;
}

.titulo_secundario a{
   text-decoration: none;
   color: var(--color-gris-fuente);
}





.p_texto{
    font-size: 16px;
    color: var(--color-gris-fuente);
    margin-bottom:6px;
    line-height: 28px;
}



/* ------------------------- FOOTER -------------------------*/

footer{
    padding: 16px 0;
    background-color: var(--color-gris-fuente);
    height: 200px;
}

.logo_footer{
    display: flex;
    flex-direction: column;
}

.logo_footer img{
    width: 200px;
    display: flex;  
}

footer h3, p{
    font-size: 12px;
    margin: 0;
    line-height: 20px;
    color: white;
}

.redes_sociales{
    display: flex;
    justify-content: center;
}

.redes_sociales img{
    margin: 0px 24px;
    width: 48px;
    display: flex;

}

.derechos_reservados{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

/* ------------------------- FIN FOOTER -------------------------*/





/* ------------------------- HOTSALE -------------------------*/

.row_hotsale{
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.card_hotsale{
    padding: 0px !important;
}

.card_hotsale img{
    border-radius: 8px;
}

.titulos_internos{
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 8px;
}

/* ------------------------- FIN HOTSALE -------------------------*/




.form-group{
    margin-top: 10px;
}

.logo_contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_contacto img{
    width: 300px;
}

.general-gris{
    background-color: var(--color-gris-fondo);
    padding: 30px 0;
}

.instagram{
    background-color: white;
    padding: 30px 0;
}

.main-general, .general{
    padding: 30px 0 0 0;
}

.general-final{
    padding: 30px 0;
}

.main-general{
    margin-top: 100px;
}

.horario_vida_nocturna{
    display: inherit;
}

.modal-dialog{
    width: 70vh !important;
}

.p_texto_galeria{
    font-size: 16px;
    color: var(--color-gris-fuente);
    margin-bottom:6px;
    line-height: 28px;
    text-align: center;
}

.recomendaciones{
    height: auto;
    padding: 20px 20px 0px;
}

.recomendaciones img{
    height: 40px;
    margin-right:5px;
}

.bg-recomendaciones{
    background-color: var(--color-verde-claro);
    padding: 20px 40px !important;
    border-radius: 10px;
}



.col_suma_tu_aporte{
    display: flex;
    align-items: center;
}

.row_testimonios h3{
    display: inline;
}





.user_nombre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_aporte{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:396px) and (max-width:991px){

    .portada{
        background-size: contain;
        background-repeat: no-repeat;
    }

    .slide{
        margin: 0;
    }



    .form-cont-cafe{
        display: flex;
        justify-content: center;
    }

    .seguinos_redes{
        font-size: 16px;
    }


    .card-comercios{
        width: 48% !important;
    }

    .p_texto{
        font-size: 16px;
        color: var(--color-gris-fuente);
        margin-bottom:6px;
        line-height: 28px;
    }
    
    .logo_footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .logo_footer img{
        margin: 0 20px;
    }

    .espacio-responsive-sup{
        margin-top: 13px;
   
    }

    .como_llegar{
        margin-top: 30px;
    }

    .contenedor_itinerario h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000;
    }

    .contenedor_itinerario img{
        width: 100%;
    }

    .cat-excursiones-3{
        width: 90% !important;
    }

    .cat-excursiones-4{
        width: 45% !important;
        margin: 0 auto;
    }
   
    .cat-excursiones-2{
        width: 90% !important;
        margin-bottom: 10px;
    }

    .separacion-categorias{
        margin-bottom: 10px;
    }

    .modal-dialog{
        max-width: 80% !important;
        margin: 0 auto !important;
    }

    .bienvenida{
        margin-bottom: 15px;
    }

    .nav-link{
        text-align: center;
    }

    .instagram{
        padding-bottom: 0;
    }

    .img-perfil-contacto{
        margin-bottom: 10px;
    }

    .titulo_responsive_exc_gast{
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
        margin-bottom: 3px;
    }

    .p_texto_responsive_exc_gast{
        font-size: 14px;
        color: var(--color-gris-fuente);
        margin-bottom:10px;
        line-height: 20px;
    }
}



















