









.a-btn-verde{
    background-color: var(--color-verde-navbar);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;    
    color: white;
    font-size: 16px;
    font-weight: 500;
}



.titulo_secundario{
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 3px;
}

.titulo_secundario a{
   text-decoration: none;
   color: var(--color-gris-fuente);
}














.titulo_perfil{
    font-size: 20px;
    font-weight: 600;
    display: inline;
    margin: 0;
}

.user_nombre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_aporte{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:396px) and (max-width:991px){
    .form-cont-cafe{
        display: flex;
        justify-content: center;
    }

    .seguinos_redes{
        font-size: 16px;
    }
    .slide{
        margin: 0;
    }



    .card-comercios{
        width: 48% !important;
    }

    .p_texto{
        font-size: 16px;
        color: var(--color-gris-fuente);
        margin-bottom:6px;
        line-height: 28px;
    }
    
    .logo_footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .logo_footer img{
        margin: 0 20px;
    }

    .espacio-responsive-sup{
        margin-top: 13px;
    }

    .como_llegar{
        margin-top: 30px;
    }

    .contenedor_itinerario h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000;
    }

    .contenedor_itinerario img{
        width: 100%;
    }

    .cat-excursiones-3{
        width: 90% !important;
    }

    .cat-excursiones-4{
        width: 45% !important;
        margin: 0 auto;
    }
   
    .cat-excursiones-2{
        width: 90% !important;
        margin-bottom: 10px;
    }

    .separacion-categorias{
        margin-bottom: 10px;
    }

    .modal-dialog{
        max-width: 80% !important;
        margin: 0 auto !important;
    }

    .bienvenida{
        margin-bottom: 15px;
    }

    .nav-link{
        text-align: center;
    }

    .img-instagram{
        margin-bottom: 25px;
    }

    .instagram{
        padding-bottom: 0;
    }

    .img-perfil-contacto{
        margin-bottom: 10px;
    }

    .titulo_responsive_exc_gast{
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
        margin-bottom: 3px;
    }

    .p_texto_responsive_exc_gast{
        font-size: 14px;
        color: var(--color-gris-fuente);
        margin-bottom:10px;
        line-height: 20px;
    }
}



















